<Languages><List>
	<Language Name="Vi">
		<DisplayName>Tiếng Việt</DisplayName>
		<Icon>viflag.png</Icon>
		<!--0:CNMODE 1:ENMODE-->
		<UIMode>1</UIMode>
		<Desc>Vietnamese Language</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
		 <!--change the labelword in StoryTxt -->
		<Labels>
			<li Label="[ENHIM]" SecondPersonF="cô ấy" SecondPersonM="anh ấy"/>
			<li Label="[ENHERS]" SecondPersonF="của cô ấy" SecondPersonM="của anh ấy"/>
			<li Label="[ENHIM2]" ThirdPersonF="cô ấy" ThirdPersonM="anh ấy"/>
			<li Label="[ENHERS2]" ThirdPersonF="của cô ấy" ThirdPersonM="của anh ấy"/>
		</Labels>
	</Language>	
</List></Languages>
